nav {
  width: 100vw;
  font-size: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.menu-containt {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  font-size: 1.2rem;
  font-weight: bolder;
  flex-direction: row;
  justify-content: space-between;
  font-family: playfair-display;
}
.menu {
  width: 70%;
}
li {
  color: rgba(7, 72, 74, 1);
  text-decoration: none;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
.link {
  text-decoration: none;
}
.mobile {
  display: none;
}
.menu-containt li {
  list-style: none;
  position: relative;
}
.link:hover,
.link .active {
  color: rgba(7, 72, 74, 1);
}

.menu-containt li:hover::after,
.menu-containt li.active::after {
  content: "";
  width: 50%;
  height: 3px;
  bottom: -2px;

  background-color: rgba(7, 72, 74, 1);
  position: absolute;
  left: 2px;
}
.right-con {
  display: flex;
  align-items: center;
  width: 13%;
  justify-content: space-between;
  cursor: pointer;
}
.icon:hover,
.icon:active {
  scale: 1.5;
  color: white;
  background: black;
  border-radius: 51%;
  -webkit-border-radius: 51%;
  -moz-border-radius: 51%;
  -ms-border-radius: 51%;
  -o-border-radius: 51%;
}
.navLi {
  width: 69%;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 850px) {
  /* .menu-containt {
    background-color: aqua;
  } */
  nav {
    width: 100vw;
    font-size: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
  }

  .navLi {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    font-size: 1rem;
  }
}
@media screen and (max-width: 725px) {
  nav {
    width: 100vw;
    font-size: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 11;
    top: 0;
  }
  .menu-containt {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: start;
    position: fixed;
    top: 3rem;
    width: 50vw;
    height: 100vh;
    right: -70vw;
    background-color: rgb(213, 243, 243);
    padding: 2rem 2rem;
    box-shadow: 0, 40px, 60px rgba(0, 0, 0, 0.1);
    gap: 1rem;

    transition: 1s ease-in-out;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -ms-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
  }
  .menu {
    width: 38%;
  }
  .right-con {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
  .navLi {
    width: 80%;
    display: flex;
    text-align: start;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    gap: 0.5rem;
    padding: 0;
  }
  .active {
    right: 0;
  }
  .mobile {
    display: block;
    padding: 0 1rem 0 6rem;
  }
  .mobile i {
    font-size: 2rem;
  }
  .menu ul {
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
  }
}
