.loadingPage {
  width: 99%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px); /* Adjust the blur value as needed */
  background-color: rgba(3, 3, 3, 0.43);

  position: absolute;
  z-index: 10;
  top: 3rem;
  overflow: hidden;
}

.inner {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-bottom: none;
  border-right: none;
  border-left: solid white 4px;
  border-top: solid white 4px;
  position: absolute;
  z-index: 111;
}
.outer {
  position: absolute;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-bottom: solid white 4px;
  border-right: solid white 4px;
  border-left: none;
  border-top: none;
}

.inner,
.outer {
  transform: translate(-50%, -50%);

  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.inner {
  animation-name: rotateInner;
}

.outer {
  animation-name: rotateOuter;
}

@keyframes rotateInner {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

@keyframes rotateOuter {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
  }
}
