.main_signUp_con {
  width: 80vw;
  margin: auto;
  height: auto;
  min-height: 100vh;
  top: 3rem;
  border: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.main_signUp_con form {
  width: 40%;
  height: 60vh;
  min-height: 70%;
  gap: 1rem;
  border: solid orange;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.field {
  position: relative;
}
.field label {
  position: absolute;
  font-size: 10px;
  font-weight: bolder;
  top: -8px;
  left: 5px;
  background-color: white;
}
