#error {
  background-color: #f54949;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
#message {
  background-color: green;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.toaster {
  width: 13rem;
  height: 3rem;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1rem;
  display: flex;
  top: 5rem;
  position: absolute;
  right: 3rem;
}
.toaster > p {
  margin: 0;
}

@media screen and (max-width: 850px) {
  .toaster {
    width: 80%;
    height: 1.5rem;
    top: 4rem;
    left: 10vw;
    right: 10vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
