.homeSC {
  margin-top: 3rem;
  width: 100vw;
  height: auto;
  min-height: 100vh;
  overflow-y: scroll;
}
Hero {
  height: 80vh;
}
.categorySection {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 4rem;
  overflow: scroll;
  margin: 4rem auto;
  height: 70vh;
}
.hero {
  margin-top: 3rem;
}
